@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Jersey+10&display=swap');
:root{
  --bg-main: #F5F3FF;
  --bg-card: #dddcdc;
  --text-primary: #2E2A3B;
  --text-inverse: #FFFFFF;
  --accent: #7C6AE6;
  --accent-hover: #5A4FCF;

  --main-font:Arial, Helvetica, sans-serif;
  --accent-font: "Jersey 10", sans-serif;
    
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: var(--main-font);
  background-color: var(--bg-card);
  color: var(--text-primary);
  
}
header{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  color: var(--text-inverse);
  position: sticky;
  top: 0;
 
  
  
}
header h1 {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 4em;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.363);
}

 header #menu {
   list-style: none;
   display: flex;
   gap: 10PX;
 }
 header #menu a{
  background-color: var(--bg-main);
  color: var(--accent);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.363);
  transition: background-color 0.3s, color 0.3s;
 
 
 }
  header #menu a:hover{
    background-color: var(--accent-hover);
    color: var(--text-inverse);
    
   
  }
  main {
    display: grid;
    grid-template-columns: auto 90vw auto;
   
  }
  section{
    grid-column: 2;
    margin: 10px;
    padding: 10px;
    background-color: var(--bg-main);
    min-height: 40vh;
  }
  main #about {
    background-color: var(--bg-card);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    flex-direction: column-reverse;
   

    

  } 
  main #about p{
    margin-bottom: 50px;
    cursor: pointer;
    background-color: var(--bg-main);
    padding: 10px;
    border-radius: 10px;
   
  }
  main #about img {
    width:50vw;
    height:40vh;
    border-radius: 50%;
    border: 5px solid var(--bg-card);
    outline: 3px solid var(--accent);
  
  }
  main #about strong{
    color: var(--accent-hover);
  }
  main #about strong:hover{
    color: var(--accent);
  }
  
  
  main #main-container{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    border-radius: 5px;
    gap: 20px;
  }
  section #to-doList {
    display: flex;
    height: 9em;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
   
   
  }
  section #to-doList h2{
     padding: 10px;
     color: var(--text-inverse);
     background-color: var(--accent-hover);
     width: 100%;
     text-align: center;
     text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.288);
     
  }
  section #to-doList input{
    width: 80vw;
    height: 5vh;
    color: var(--text-primary);
  }
  section #to-doList button{
    background-color: var(--accent-hover);
    border: 1px solid var(--bg-main);
    padding: 10px;
    border-radius: 3px;
    color: var(--bg-main);
    align-self: center;
    width: 100%;

  }
  
  section #to-doList button:hover {
      background-color: var(--accent);
    
     
    }
  section #pomodoro{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 10em;
  }
  section #pomodoro h2 {
    color: var(--accent);

  }
  section #pomodoro p {
    background-color: var(--accent-hover);
    padding: 7px;
    border-radius: 3px;
    color: var(--bg-main);

  }
  section #pomodoro button {
    background-color: var(--accent);
    color: var(--bg-main);
    border: 1px solid var(--bg-main);
    padding: 8px;
    border-radius: 3px;
  }
  section #pomodoro button:hover {
    background-color: var(--accent-hover);
  }
  

  footer{
    background-color: var(--accent);
    grid-column: 2;
    padding: 10px;
    text-align: center;
    font-weight:bold;
  }
  footer h2 {
  
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 2em;
  
  color: var(--text-inverse);
}
footer a {
  text-decoration: none;
  color: var(--text-inverse);
}
footer a:hover{
  color: var(--text-primary);
  background-color: var(--accent-hover);
}
  
 @media screen and ( min-width: 768px){
  header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  header #menu a {
    margin: 0px;
    margin-right: 10px;
  }
  header h1 {
    margin-left: 10px;
  }
  main #about{
    flex-flow: row nowrap;
    justify-content: space-between;

  }
  main #about p {
    width: 50vw;
  }
  main #about img {
    width: 30vw;
    height: 50vh;
   
  }
  main #main-container{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;

    
  } 
  section #to-doList input {
    width: 50vw;
    
  }
  section #to-doList button {
   width:100%;
  }
  
 }